<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GlmSharp" version="0.9.8" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="SharpGL" version="3.1.1" targetFramework="net472" />
  <package id="SharpGL.SceneGraph" version="3.1.1" targetFramework="net472" />
  <package id="SharpGL.WPF" version="3.1.1" targetFramework="net472" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
</packages>